<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Navigation</span>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" data-testid="nav-dashboard">
                <i class="bi bi-speedometer2"></i> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks" data-testid="nav-tasks">
                <i class="bi bi-list-check"></i> Task Register
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resources" data-testid="nav-resources">
                <i class="bi bi-people"></i> Resources
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adjustments" data-testid="nav-adjustments">
                <i class="bi bi-calendar2-minus"></i> Adjustments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="holidays" data-testid="nav-holidays">
                <i class="bi bi-calendar-heart"></i> Holidays
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar" data-testid="nav-calendar">
                <i class="bi bi-calendar3"></i> Calendar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timeline" data-testid="nav-timeline">
                <i class="bi bi-calendar-range"></i> Timeline
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="output" data-testid="nav-output">
                <i class="bi bi-box-arrow-up"></i> Delivery Plan
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gantt" data-testid="nav-gantt">
                <i class="bi bi-bar-chart-steps"></i> Gantt Chart
            </NavLink>
        </div>
    </nav>
</div>
